nav {
  background-color: rgba(223, 222, 227, 0.79);
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
  
}
.nav-bar {
  height: 5rem;
}

.nav-bar ul div > * a {
  padding: 0 0.6rem;
  color: #32353c;
  font-size: .9rem;
}
.nav-bar ul div > * a:hover,
.nav-bar ul div > * a:focus {
  color: #fa7400;
}

.nav-bar img {
  width: 150px;
}
.nav-bar select {
  border: none;
  padding: 0.4rem 1rem;
  background-color: #7B77770F;
  cursor: pointer;
  outline: none;
  color: #32353c;
  border-radius: 3px;
  margin-right: 3rem;
  font-weight: bold;
}
.nav-bar button:hover {
  background-color: #fa7400;
  color: #fff;
}

