nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10000;
  border-bottom: 1.5px solid #cacaca;
}
.nav-bar {
  height: 5rem;
}

.nav-bar ul div > * a {
  padding: 0 0.6rem;
  color: #32353c;
  font-size: 0.9rem;
}
.nav-bar ul div > * a:hover,
.nav-bar ul div > * a:focus {
  color: #fa7400;
}

.nav-bar img {
  width: 150px;
}
.nav-bar select {
  border: none;
  padding: 0.4rem 1rem;
  background-color: #7b77770f;
  cursor: pointer;
  outline: none;
  color: #32353c;
  border-radius: 3px;
  margin-right: 3rem;
  font-weight: bold;
}

.icons-section {
  flex-basis: 200px;
}
.bag-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(223, 222, 227, 0.79);
  border-radius: 50%;
  position: relative;
}
.counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #fa7400;
  border-radius: 50%;
  color: #ffffff;
}
