.products-sec {
  margin: 3rem;
}


.bottom-sec {
  width: 20%;
  margin: auto;
}


.bottom-sec button {
  padding: 0.5rem 4rem;
  border: 1px solid #d5d5d5;
}
.bottom-sec button:hover {
  background-color: #F3EFEF;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  z-index: 1;
}
.slider {
  margin: 2rem;
  height: 400px;
}
