.wrapper {
  background: url("../../../../public/Images/hero.png") center/cover;
  height: 100vh;
}
article{
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}
.black-paper {
position: absolute;
background-color: rgba(0, 0, 0, .3);
width: 100%;
height: 100%;
}
.down-arrow {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.down-arrow:hover {
  background-color: #fa7400;
  color: #fff;
}
article div {
  height: 50vh;
}
article div p{
 margin-top: -3rem;
}
article div button{
  display: flex;
  align-items: center;
  width: 15rem;
  height: 3rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
 }

 article div button:hover{
  background-color: #ABABAE;
 }

 @media only screen and (max-width: 600px) and (min-width: 400px)  {

  article div h1 {
    font-size: .8rem;
  }
  article div button {
    width: 13rem;
  }
 }